# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Pdf y documentos
*.pdf

# Directorios a ignorar
P1/*
Teoria/SM*
Teoria/Fundamentos*
Teoria/Trabajo_sonido/Audios/*

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/P3/ExtraBoton/nbproject/private/
/P3/ExtraBoton/build/
/P4/AplicacionPractica4/nbproject/private/
/P4/AplicacionPractica4/build/
/P4/AplicacionPractica4/dist/
/P5/AplicacionPractica5/nbproject/private/
/P5/AplicacionPractica5/build/
/P5/AplicacionPractica5/dist/
/P6/AplicacionPractica6/nbproject/private/
/P6/AplicacionPractica6/build/
/P6/AplicacionPractica6/dist/
/P7/JavaApplication7/nbproject/private/
/P7/AplicacionPractica7/nbproject/private/
/P7/AplicacionPractica7/build/
/P7/SM.NRG.Biblioteca/nbproject/private/
/P7/SM.NRG.Biblioteca/build/
/P7/AplicacionPractica7/dist/
/P7/SM.NRG.Biblioteca/dist/
/P8/AplicacionPractica7/build/
/P8/AplicacionPractica7/dist/
/P8/SM.NRG.Biblioteca/dist/
/P8/SM.NRG.Biblioteca/build/
/P8/AplicacionPractica7/nbproject/private/
/P8/AplicacionPractica8/nbproject/private/
/P8/AplicacionPractica8/build/
/P8/AplicacionPractica8/dist/
/P8/SM.NRG.Biblioteca/nbproject/private/
/P9/AplicacionPractica9/nbproject/private/
/P9/AplicacionPractica9/build/
/P9/AplicacionPractica9/dist/
/P9/SM.NRG.Biblioteca/dist/
/P9/SM.NRG.Biblioteca/build/
/P10/AplicacionPractica10/nbproject/private/
/P10/AplicacionPractica10/dist/
/P10/AplicacionPractica10/build/
/P10/SM.NRG.Biblioteca/dist/
/P10/SM.NRG.Biblioteca/build/
/P11/AplicacionPractica11/nbproject/private/
/P11/AplicacionPractica11/build/
/P11/AplicacionPractica11/dist/
/P12/AplicacionPractica11/build/
/P12/AplicacionPractica11/dist/
/P12/SM.NRG.Biblioteca/dist/
/P12/SM.NRG.Biblioteca/build/
/P12/AplicacionPractica11/nbproject/private/
/P12/AplicacionPractica12/nbproject/private/
/P12/AplicacionPractica12/dist/
/P12/AplicacionPractica12/build/
/P12/SM.NRG.Biblioteca/nbproject/private/
/Evaluacion/Evaluacion/nbproject/private/
/Evaluacion/Evaluacion/build/